<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE module PUBLIC
	"-//Puppy Crawl//DTD Check Configuration 1.3//EN"
	"http://www.puppycrawl.com/dtds/configuration_1_3.dtd"
>

<!-- Hobsoft Checkstyle configuration -->

<module name="Checker">
	<property name="tabWidth" value="4"/>

	<!-- Filters -->

	<!-- <module name="SeverityMatchFilter"/> -->
	
	<!-- <module name="SuppressionFilter"/> -->

	<!-- <module name="SuppressionSingleFilter"/> -->
	
	<!-- <module name="SuppressWarningsFilter"/> -->

	<!-- <module name="SuppressWithPlainTextCommentFilter"/> -->

	<!-- Headers -->
	
	<!-- <module name="Header"/> -->
	
	<!-- <module name="RegexpHeader"/> -->
	
	<!-- Javadoc Comments -->
	
	<!-- <module name="JavadocPackage"/> -->
	
	<!-- Miscellaneous -->
		
	<module name="NewlineAtEndOfFile">
		<property name="lineSeparator" value="lf"/>
		<property name="fileExtensions" value="java"/>
	</module>
	
	<!-- <module name="OrderedProperties"/> -->
	
	<module name="Translation"/>
	
	<!-- <module name="UniqueProperties"/> -->
	
	<!-- Regexp -->
	
	<module name="RegexpMultiline">
		<property name="format" value="^[ \t\r]*\n[ \t\r]*$"/>
		<property name="message" value="Consecutive blank lines."/>
	</module>
		
	<module name="RegexpMultiline">
		<property name="format" value="\{[ \t\r]*\n[ \t\r]*\n"/>
		<property name="message" value="Unnecessary blank line."/>
	</module>
		
	<module name="RegexpMultiline">
		<property name="format" value="\n[ \t\r]*\n[ \t\r]*}"/>
		<property name="message" value="Unnecessary blank line."/>
	</module>
		
	<!-- <module name="RegexpOnFilename"/> -->

	<!-- <module name="RegexpSingleline"/> -->
		
	<!-- Size Violations -->
	
	<module name="FileLength"/>
	
	<module name="LineLength">
		<property name="max" value="120"/>
	</module>
	
	<!-- Whitespace -->
	
	<!-- <module name="FileTabCharacter"/> -->
	
	<module name="TreeWalker">
		
		<!-- Filters -->

		<module name="SuppressionCommentFilter"/>

		<!-- <module name="SuppressionXpathFilter"/> -->
		
		<!-- <module name="SuppressionXpathSingleFilter"/> -->

		<module name="SuppressWithNearbyCommentFilter">
			<property name="checkFormat" value="$1"/>
			<property name="influenceFormat" value="1"/>
		</module>

		<!-- Annotations -->

		<!-- <module name="AnnotationLocation"/> -->
		
		<!-- <module name="AnnotationOnSameLine"/> -->
		
		<module name="AnnotationUseStyle"/>
		
		<module name="MissingDeprecated"/>
		
		<!-- <module name="MissingOverride"/> -->
		
		<module name="PackageAnnotation"/>
		
		<module name="SuppressWarnings">
			<property name="format" value="unchecked"/>
			<property name="tokens" value="CLASS_DEF, INTERFACE_DEF, ENUM_DEF, ANNOTATION_DEF, ANNOTATION_FIELD_DEF, 
				ENUM_CONSTANT_DEF, METHOD_DEF, CTOR_DEF"/>
		</module>
		
		<!-- <module name="SuppressWarningsHolder"/> -->
		
		<!-- Block Checks -->

		<module name="AvoidNestedBlocks"/>
		
		<module name="EmptyBlock">
			<property name="option" value="text"/>
		</module>
		
		<!-- <module name="EmptyCatchBlock"/> -->
		
		<module name="LeftCurly">
			<property name="option" value="nl"/>
		</module>
		
		<module name="NeedBraces"/>
		
		<module name="RightCurly">
			<property name="option" value="alone"/>
		</module>
		
		<!-- Class Design -->
		
		<!-- <module name="DesignForExtension"/> -->
		
		<module name="FinalClass"/>
		
		<module name="HideUtilityClassConstructor"/>
		
		<!-- <module name="InnerTypeLast"/> -->
		
		<module name="InterfaceIsType"/>
		
		<module name="MutableException"/>
		
		<!-- <module name="OneTopLevelClass"/> -->
		
		<!-- <module name="ThrowsCount"/> -->
		
		<module name="VisibilityModifier"/>
		
		<!-- Coding -->
		
		<!-- <module name="ArrayTrailingComma"/> -->

		<!-- <module name="AvoidDoubleBraceInitialization"/> -->
		
		<!-- <module name="AvoidInlineConditionals"/> -->

		<!-- <module name="AvoidNoArgumentSuperConstructorCall"/> -->
		
		<module name="CovariantEquals"/>

		<!-- <module name="DeclarationOrder"/> -->

		<!-- <module name="DefaultComesLast"/> -->
		
		<module name="EmptyStatement"/>
		
		<module name="EqualsAvoidNull"/>
		
		<module name="EqualsHashCode"/>

		<!-- <module name="ExplicitInitialization"/> -->

		<!-- <module name="FallThrough"/> -->
		
		<!-- <module name="FinalLocalVariable"/> -->
		
		<!-- <module name="HiddenField"> -->

		<!-- <module name="IllegalCatch"> -->
		
		<module name="IllegalInstantiation"/>

		<!-- <module name="IllegalThrows"> -->
		
		<!-- <module name="IllegalToken"/> -->
		
		<!-- <module name="IllegalTokenText"/> -->

		<!-- <module name="IllegalType"/> -->
		
		<module name="InnerAssignment"/>
		
		<!-- <module name="MagicNumber"/> -->

		<!-- <module name="MatchXpath"/> -->

		<!-- <module name="MissingCtor"/> -->
		
		<module name="MissingSwitchDefault"/>
		
		<module name="ModifiedControlVariable"/>

		<!-- <module name="MultipleStringLiterals"/> -->

		<!-- <module name="MultipleVariableDeclarations"/> -->
		
		<module name="NestedForDepth"/>
		
		<module name="NestedIfDepth"/>
		
		<module name="NestedTryDepth"/>

		<!-- <module name="NoArrayTrailingComma"/> -->
		
		<module name="NoClone"/>

		<!-- <module name="NoEnumTrailingComma"/> -->
		
		<module name="NoFinalizer"/>
		
		<module name="OneStatementPerLine"/>
		
		<!-- <module name="OverloadMethodsDeclarationOrder"/> -->
		
		<module name="PackageDeclaration"/>
		
		<!-- <module name="ParameterAssignment"/> -->
		
		<!-- <module name="RequireThis"/> -->
		
		<!-- <module name="ReturnCount"/> -->
		
		<module name="SimplifyBooleanExpression"/>
		
		<module name="SimplifyBooleanReturn"/>
		
		<module name="StringLiteralEquality"/>
		
		<module name="SuperClone"/>
		
		<module name="SuperFinalize"/>
		
		<!-- <module name="UnnecessaryParentheses"/> -->

		<!-- <module name="UnnecessarySemicolonAfterOuterTypeDeclaration"/> -->

		<!-- <module name="UnnecessarySemicolonAfterTypeMemberDeclaration"/> -->

		<!-- <module name="UnnecessarySemicolonInEnumeration"/> -->

		<!-- <module name="UnnecessarySemicolonInTryWithResources"/> -->

		<!-- <module name="UnusedLocalVariable"/> -->
		
		<!-- <module name="VariableDeclarationUsageDistance"/> -->
		
		<!-- Imports -->

		<module name="AvoidStarImport"/>
		
		<!-- <module name="AvoidStaticImport"/> -->
		
		<!-- <module name="CustomImportOrder"/> -->
		
		<module name="IllegalImport"/>

		<!-- <module name="ImportControl"/> -->
		
		<module name="ImportOrder">
			<property name="option" value="bottom"/>
			<property name="groups" value="java, javax, org, com"/>
			<property name="separated" value="true"/>
			<property name="staticGroups" value="java, javax, org, com"/>
			<property name="separatedStaticGroups" value="true"/>
		</module>
		
		<module name="RedundantImport"/>
		
		<module name="UnusedImports"/>
		
		<!-- Javadoc Comments -->

		<!-- <module name="AtclauseOrder"/> -->

		<!-- <module name="InvalidJavadocPosition"/> -->

		<!-- <module name="JavadocBlockTagLocation"/> -->

		<!-- <module name="JavadocContentLocation"/> -->
		
		<!-- <module name="JavadocMethod">
			<property name="scope" value="public"/>
		</module> -->
		
		<!-- <module name="JavadocMissingLeadingAsterisk"/> -->

		<!-- <module name="JavadocMissingWhitespaceAfterAsterisk"/> -->

		<!-- <module name="JavadocParagraph"/> -->
		
		<module name="JavadocStyle">
			<!-- <property name="checkEmptyJavadoc" value="true"/> -->
		</module>
		
		<!-- <module name="JavadocTagContinuationIndentation"/> -->
		
		<module name="JavadocType">
			<property name="allowMissingParamTags" value="true"/>
		</module>
		
		<!-- <module name="JavadocVariable">
			<property name="scope" value="public"/>
		</module> -->
		
		<!-- <module name="MissingJavadocMethod"/> -->

		<!-- <module name="MissingJavadocPackage"/> -->

		<module name="MissingJavadocType"/>

		<!-- <module name="NonEmptyAtclauseDescription"/> -->

		<!-- <module name="RequireEmptyLineBeforeBlockTagGroup"/> -->
		
		<!-- <module name="SingleLineJavadoc"/> -->
		
		<!-- <module name="SummaryJavadoc"/> -->
		
		<!-- <module name="WriteTag"/> -->
		
		<!-- Metrics -->
		
		<!-- <module name="BooleanExpressionComplexity"/> -->
		
		<!-- <module name="ClassDataAbstractionCoupling"/> -->
		
		<!-- <module name="ClassFanOutComplexity"/> -->
		
		<!-- <module name="CyclomaticComplexity"/> -->
		
		<module name="JavaNCSS"/>
		
		<module name="NPathComplexity"/>
		
		<!-- Miscellaneous -->
		
		<module name="ArrayTypeStyle"/>
		
		<!-- <module name="AvoidEscapedUnicodeCharacters"/> -->

		<!-- <module name="CommentsIndentation"/> -->
		
		<!-- <module name="DescendantToken"/> -->
		
		<!-- <module name="FinalParameters"/> -->
		
		<!-- <module name="Indentation"/> -->

		<!-- <module name="NoCodeInFile"/> -->

		<module name="OuterTypeFilename"/>
		
		<!-- <module name="TodoComment"/> -->
		
		<module name="TrailingComment"/>
		
		<!-- <module name="UncommentedMain"/> -->
		
		<module name="UpperEll"/>

		<!-- Modifiers -->
		
		<!-- <module name="ClassMemberImpliedModifier"/> -->

		<!-- <module name="InterfaceMemberImpliedModifier"/> -->

		<module name="ModifierOrder"/>
		
		<module name="RedundantModifier"/>
		
		<!-- Naming Conventions -->
		
		<!-- <module name="AbbreviationAsWordInName"/> -->
		
		<!-- <module name="AbstractClassName"/> -->

		<!-- <module name="CatchParameterName"/> -->
		
		<module name="ClassTypeParameterName"/>
		
		<module name="ConstantName"/>

		<!-- <module name="IllegalIdentifierName"/> -->
		
		<!-- <module name="InterfaceTypeParameterName"/> -->

		<!-- <module name="LambdaParameterName"/> -->
		
		<module name="LocalFinalVariableName"/>
		
		<module name="LocalVariableName"/>
		
		<module name="MemberName"/>
		
		<module name="MethodName"/>
		
		<module name="MethodTypeParameterName"/>
		
		<module name="PackageName"/>
		
		<module name="ParameterName"/>

		<!-- <module name="PatternVariableName"/> -->

		<!-- <module name="RecordComponentName"/> -->

		<!-- <module name="RecordTypeParameterName"/> -->
		
		<module name="StaticVariableName"/>
		
		<module name="TypeName"/>
		
		<!-- Regexp -->
		
		<!-- <module name="Regexp"/> -->
		
		<module name="RegexpSinglelineJava">
			<property name="format" value="^\s* [^\*]"/>
			<property name="message" value="Line has leading spaces."/>
		</module>
		
		<module name="RegexpSinglelineJava">
			<property name="format" value="\S+\s+$"/>
			<property name="ignoreComments" value="true"/>
			<property name="message" value="Line has trailing spaces."/>
		</module>
		
		<module name="RegexpSinglelineJava">
			<property name="format" value="System\.(out|err)\."/>
			<property name="message" value="System.out nor System.err should be used."/>
		</module>
		
		<module name="RegexpSinglelineJava">
			<property name="format" value="\s+//\s*$"/>
			<property name="message" value="Empty comment."/>
		</module>
		
		<module name="RegexpSinglelineJava">
			<property name="format" value="^\s*//\S"/>
			<property name="message" value="Comment is not followed by whitespace."/>
		</module>
		
		<module name="RegexpSinglelineJava">
			<property name="format" value="// TODO([^:]|:\S)"/>
			<property name="message" value="TODO is not followed by a colon and whitespace."/>
		</module>
		
		<module name="RegexpSinglelineJava">
			<property name="format" value="// FIXME([^:]|:\S)"/>
			<property name="message" value="FIXME is not followed by a colon and whitespace."/>
		</module>
		
		<!-- Size Violations -->
		
		<!-- <module name="AnonInnerLength"/> -->
		
		<module name="ExecutableStatementCount"/>

		<!-- <module name="LambdaBodyLength"/> -->
		
		<module name="MethodCount"/>
		
		<module name="MethodLength"/>
		
		<module name="OuterTypeNumber"/>
		
		<module name="ParameterNumber"/>

		<!-- <module name="RecordComponentNumber"/> -->
		
		<!-- Whitespace -->
		
		<module name="EmptyForInitializerPad">
			<property name="option" value="space"/>
		</module>
		
		<module name="EmptyForIteratorPad">
			<property name="option" value="space"/>
		</module>
		
		<!-- <module name="EmptyLineSeparator"/> -->
		
		<module name="GenericWhitespace"/>
		
		<module name="MethodParamPad"/>
		
		<!-- <module name="NoLineWrap"/> -->
		
		<module name="NoWhitespaceAfter"/>
		
		<module name="NoWhitespaceBefore"/>

		<!-- <module name="NoWhitespaceBeforeCaseDefaultColon"/> -->
		
		<module name="OperatorWrap"/>
		
		<module name="ParenPad"/>
		
		<!-- <module name="SeparatorWrap"/> -->
		
		<!-- <module name="SingleSpaceSeparator"/> -->
		
		<module name="TypecastParenPad"/>
		
		<module name="WhitespaceAfter"/>
		
		<module name="WhitespaceAround">
			<!-- TODO: remove tokens property when bug #2874050 fixed -->
			<!-- all tokens bar RCURLY -->
			<property name="tokens" value="ASSIGN, BAND, BAND_ASSIGN, BOR, BOR_ASSIGN, BSR, BSR_ASSIGN, BXOR,
				BXOR_ASSIGN, COLON, DIV, DIV_ASSIGN, EQUAL, GE, GT, LAND, LCURLY, LE, LITERAL_ASSERT, LITERAL_CATCH,
				LITERAL_DO, LITERAL_ELSE, LITERAL_FINALLY, LITERAL_FOR, LITERAL_IF, LITERAL_RETURN,
				LITERAL_SYNCHRONIZED, LITERAL_TRY, LITERAL_WHILE, LOR, LT, MINUS, MINUS_ASSIGN, MOD, MOD_ASSIGN,
				NOT_EQUAL, PLUS, PLUS_ASSIGN, QUESTION, SL, SLIST, SL_ASSIGN, SR, SR_ASSIGN, STAR, STAR_ASSIGN,
				TYPE_EXTENSION_AND"/>
		</module>
		
	</module>
	
</module>
